<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akosha.sample1.animationpoc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second" />
        <activity
            android:name=".Screenthree"
            android:label="@string/title_activity_screenthree" />
        <activity
            android:name=".Screenfour"
            android:label="@string/title_activity_screenfour" />
        <activity
            android:name=".Activityfive"
            android:label="@string/title_activity_activityfive">

        </activity>
        <activity
            android:name=".Activitysix"
            android:label="@string/title_activity_activitysix"></activity>
        <activity
            android:name=".Activity7"
            android:label="@string/title_activity_7">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
